:root {
    --color-midnight-blue: #00366a;
    --color-congress-blue: #004890;
    --color-porcelain: #f7f9f9;
    --color-deep-cerulean: #007bb0;
    --color-spring-green: #28ff90;
    --color-gallery: #f0f0f0;
    --color-green-haze: #00a859;
    --color-athens-gray: #edf0f4;
    --color-heavy-metal: #252724;
    /* Svg */
    --color-svg-primary: #00366a;
}
